@page "/applications/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable
@inject HttpInterceptorService _interceptor
<h3 class="card-title">Applications </h3>
<br />


<a href="/applications/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Application
</a>
<br />
<br />


@if (Applications == null)
{
    <div class="alert alert-info">Loading Applications...</div>
}
else
{
    <table class="table table-responsive" id="applicationsTable">
    @* <table class="table table-responsive"> *@
        <!-- <thead>
             <tr>
                 <th>Name</th>
                 <th>Actions</th>
             </tr>
         </thead> -->

        <thead>
            <tr>
                <th>Job</th>
                <th>Status</th>
                <th>Date Submitted</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var application in Applications)
            {
                <tr>
                    
                    <td>@application.Job.JobTitle</td>
                    <td>@application.Status</td>

                    <td>@application.DateCreated</td>
                    <td>
                        <a href="/applications/view/@application.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>

                        <a href="/applications/edit/@application.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>

                        <button class="btn btn-danger" @onclick="@(()=>Delete(application.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>





}

@code {
    private List<Application>? Applications;
   

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Applications = await _client.GetFromJsonAsync<List<Application>>($"{Endpoints.ApplicationsEndpoint}");
       
    }

    async Task Delete(int applicationId)
    {
        if (Applications != null)
        {
            var application = Applications.First(q => q.Id == applicationId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {application.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ApplicationsEndpoint}/{applicationId}");

                await OnInitializedAsync();
            }
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#applicationsTable");
    }
    public void Dispose()
    {
        _interceptor.MonitorEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#applicationsTable");
        
    }

}