@page "/FAQs"

<h1>Frequently Asked Questions</h1>
<p></p>

<div class="faq">
    
    <div class="question">Q: How do I create an account on Company-Careers Connect?</div>
    <p></p>
    <div class="answer">A: To create an account, click on the 'Sign Up' button on the homepage and follow the on-screen instructions. Provide the necessary information to complete the registration process.</div>
    <p></p>
    <div class="question">Q: Can I upload multiple resumes to my profile?</div>
    <p></p>
    <div class="answer">A: Yes, you can upload multiple resumes to your profile. Simply go to your dashboard, navigate to the 'Profile' section, and use the 'Upload Resume' feature to add additional resumes.</div>
    <p></p>

</div>


<FAQContentComponent/>

@code {

}
